*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  background: #ffffff;
}
.child-div {
  background: #f1f1f1;
  text-align: center;
  line-height: 90px;
  font-size: 40px;
}
#shuffle-container {
  display: block;
  width: 100%;
}
.child-div {
  display: block;
  width: 100%;
  background: #f1f1f1;
  color: #000;
  margin-bottom: 5px;
}
#btn-section {
  display: block;
  width: 100%;
  text-align: center;
}

#btn-holder button {
  padding: 10px;
  background: #2b8ead;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 1px 2px 0px 0px #2b8ead;
  color: #fff;
  width: 30%;
  margin: 10px;
}

#div-1,
#div-8 {
  border-left: 10px solid #6f98a8;
}

#div-2,
#div-4 {
  border-left: 10px solid #2b8ead;
}

#div-3,
#div-5,
#div-9 {
  border-left: 10px solid #2f454e;
}

#div-6,
#div-7 {
  border-left: 10px solid #bfbfbf;
}

@media (min-width: 375px) {
  #container {
    background: #efefef;
  }
  #shuffle-container {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    width: 70%;
    height: 70%;
  }

  #btn-section {
    display: inline-block;
    width: 20%;
    position: absolute;
    right: 10%;
    top: 10%;
  }
  #shuffle-container > .child-div {
    display: inline-block;
    width: calc(100% / 3 - 10px);
    margin: 0;
    line-height: 32vh;
  }
  #div-1,
  #div-8 {
    background: #6f98a8;
  }

  #div-2,
  #div-4 {
    background: #2b8ead;
  }

  #div-3,
  #div-5,
  #div-9 {
    background: #2f454e;
  }

  #div-6,
  #div-7 {
    background: #bfbfbf;
  }

  #btn-holder button {
    width: 90%;
    max-width: 150px;
    margin: 10px;
  }
}
#container {
  text-align: center;
}
